#container {
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:white;
}

#folie1 {
    left:520px;
    top:930px;
    width:130px;
    height: 60px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie2 {
    left:470px;
    top:730px;
    width:200px;
    height: 100px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie3 {
    left:365px;
    top:840px;
    width:100px;
    height:80px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}



div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
    border: 1px solid red;
    -webkit-user-select:none;
    -moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
}

.tree {
    pointer-events: none;
}

#content {
    position:relative;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:750px;
}


/* navigation */

#navigation {
    width:750px;
    position:relative;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    height:50px;
}

#prev, #next {
    position:absolute;
    width:50px;
    height:50px;
    border:1px solid #aaa;
    background-color:#dca;
    color:white;
    z-index:10;
    font-size:40px;
    line-height:45px;
    text-align:center;
    font-family:Helvetica, sans-serif;
    cursor:pointer;
    cursor:hand;
}

#prev {
    left:0px;
}

#next {
    right:0px;
}

#prev:hover,#next:hover {
	background-color:#ba9;
	border: 1px solid #999;
}
