#container {
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:white;
}

#folie1 {
    left:260px;
    top:20px;
    width:170px;
    height: 80px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie2 {
    left:30px;
    top:70px;
    width:180px;
    height: 100px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie3 {
    left:250px;
    top:130px;
    width:190px;
    height:120px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie4 {
    left:20px;
    top:250px;
    width:160px;
    height:110px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie5 {
    left:485px;
    top:60px;
    width:190px;
    height:120px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie6 {
    left:275px;
    top:310px;
    width:180px;
    height:70px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#folie7 {
    left:280px;
    top:325px;
    width:40px;
    height:40px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie8 {
    left:345px;
    top:325px;
    width:40px;
    height:40px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie9 {
    left:410px;
    top:325px;
    width:40px;
    height:40px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie10 {
    left:250px;
    top:410px;
    width:210px;
    height:210px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie11 {
    left:333px;
    top:420px;
    width:40px;
    height:55px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie12 {
    left:190px;
    top:675px;
    width:85px;
    height:45px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie13 {
    left:190px;
    top:770px;
    width:85px;
    height:45px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie14 {
    left:305px;
    top:675px;
    width:85px;
    height:45px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie15 {
    left:305px;
    top:770px;
    width:85px;
    height:45px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie16 {
    left:420px;
    top:675px;
    width:85px;
    height:45px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie17 {
    left:420px;
    top:770px;
    width:85px;
    height:60px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie18 { /* 4.1*/
    left:485px;
    top:205px;
    width:220px;
    height:130px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie19 { /* 4.2*/
    left:485px;
    top:470px;
    width:220px;
    height:110px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie20 { /* 5*/
    left:25px;
    top:830px;
    width:160px;
    height:190px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie21 { /* 6*/
    left:25px;
    top:520px;
    width:220px;
    height:120px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie22 { /* 7*/
    left:490px;
    top:870px;
    width:220px;
    height:150px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#folie23 { /* 8*/
    left:230px;
    top:890px;
    width:220px;
    height:130px;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}







/* kann weg ? 
#folie 2.12 {
    left:180px;
    top:310px;
    width:350px;
    height:420px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
*/


div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
    border: 1px solid red;
    -webkit-user-select:none;
    -moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
}

.tree {
    pointer-events: none;
}

#content {
    position:relative;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:750px;
}
